<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Entropy" value="9JOynAJu/ZWxzr71c6PCJa/7iXQ=" />
    <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjtxeEFk9GUGnoYXyA1NLlQAAAAACAAAAAAAQZgAAAAEAACAAAAAR+VJpmtd3LkJoqZ1AaqrYNq/lt/SFCBgfCnLxHtpL/AAAAAAOgAAAAAIAACAAAACCMuK+iByhcg+w53G16JQLPU/FWd/ihL/kZijFDn3O6hAAAAC/BJSbAD6nCzl3ypuSb9F4QAAAAGKY9wURp5o1ABpM7+uCs/qbK62LGEeJODs0kV9ied1fGJv2DvaVvmH+qwBnYXf9gInCRnYB6WsLFFfWISCc/uQ=" />
  </appSettings>
</configuration>